.chat_container {
    max-width: 1400px;
    width: 100%;
    margin: auto;
    height: 100vh;
}

.chat_wrapper {
    height: 800px;
    width: 100%;
    display: grid;
}

.chat_bar, .right_sidebar {
    display: none;
} 

@media (min-width: 1024px) {

    .chat_container {
        display: flex;
        align-items: center;
    }

    .chat_bar, .right_sidebar {
        display: flex;
    } 

    .chat_wrapper {
        grid-template-columns: 300px 1fr 300px;
    }
}