.chatbox_container {
    height: 100%;
}

.chatbox_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.chat_profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-position: center;
    object-fit: cover;
}

.chatbox_head {
    align-items: center;
    padding: 16px 30px;
    gap: 16px;
    border-bottom: 1px solid var(--var-text-secondary);
}

.chatbox_form {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 20px;
    background: #fff;
    bottom: 0;
    left: 0;
    right: 0;
}

.chat_icon {
    width: 35px;
}

.chat_mgs {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--var-text-primary);
}

.chatbox_chats_container {
    width: 100%;
    height: 650px;
    overflow-y: scroll;
    display: flex;
    justify-content: flex-end;
}

.my_chat {
    align-items: flex-end;
}

.their_chat {
    align-items: flex-start;
}

.chatbox_chats::-webkit-scrollbar {
    width: 4px;
}

.chatbox_chats::-webkit-scrollbar-track {
    background: transparent; 
}

.chatbox_chats::-webkit-scrollbar-thumb {
    background: #888; 
}

.chatbox_chats::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.chatbox_chats {
    flex-direction: column;
    margin: 10px 0;
}

.my_chat_text {
    max-width: 600px;
    background-color: var(--var-primary-color);
    color: #1b1b1b;
    padding: 10px;
    border-radius: 10px 10px 0 10px;
    margin: 0 10px 5px 0;
    font-size: 16px;
    font-weight: 400;
}

.their_chat_text {
    max-width: 600px;
    background-color: var(--var-secondary-color);
    color: #1b1b1b;
    padding: 10px;
    border-radius: 10px 10px 10px 0;
    margin: 0 0 5px 10px;
    font-size: 16px;
    font-weight: 400;
}

.chats_box_div {
    width: 100%;
    padding-inline: 10px;
}