@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

:root {
  --var-primary-color: #4285F4;
  --var-secondary-color: #AFCBF9;
  --var-text-primary: #1b1b1b;
  --var-text-secondary: #ccc;
}

