@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

:root {
  --var-primary-color: #4285F4;
  --var-secondary-color: #AFCBF9;
  --var-third-color: #1C274C;
  --var-text-primary: #1b1b1b;
  --var-text-secondary: #ccc;
}

body {
  background-image: linear-gradient( 179.5deg,  rgba(131,204,255,1) 0.4%, rgba(66,144,251,1) 100.3% );
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.flex_center {
  justify-content: center;
  align-items: center;
}

.flex_space_between {
  justify-content: space-between;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--var-third-color); 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}